:root {
  --verde-militar: #017143;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}

body {
  padding: 10px 50px;
  margin: 0;
  height: 100vh;
}

button {
  background-color: var(--verde-militar);
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

button:hover {
  background-color: black;
}

h1 {
  font-size: 50px;
  font-weight: 700;
}

p {
  font-size: 16px;
  margin-top: 10px;
  margin-bottom: 15px;
}

span {
  color: var(--verde-militar);
  font-size: 60px;
  font-weight: 900;
}

.logo {
  width: 70px;
}

.copo-grande {
  max-width: 85%;
  height: auto;
  z-index: 2;
}

.copo-pequeno {
  width: 50px;
  cursor: pointer;
  transition: 1s;
}

.copo-pequeno:hover {
  transform: translateY(-25px);
}

.copo-reto {
  margin-bottom: 10px;
  transform: rotate(-10deg);
}

.conteudo {
  width: 100%;
  max-width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.texto {
  width: 100%;
  max-width: 600px;
  margin-bottom: 20px;
}

.imagem {
  width: 380px;
  display: flex;
  justify-content: flex-end;
}

.menu {
  display: flex;
  justify-content: center;
}

.circulo {
  background-color: var(--verde-militar);
  width: 100%;
  height: 100%;
  position: fixed;
  bottom: 0;
  right: 0;
  clip-path: circle(50% at 100% 100%);
  z-index: -1;
}

@media (max-width: 768px) {
  h1 {
    font-size: 50px;
    font-weight: 500;
  }

  span {
    font-size: 50px;
  }

  .texto {
    margin-right: 20px;
    margin-bottom: 0;
    width: 50%;
    max-width: 600px;
  }

  .imagem {
    width: 200px;
    margin-top: 150px;
  }
}